@media (min-width: 576px) {


}
@media (min-width: 768px) {
    html{
        font-size: 17px;
    }

}
@media (min-width: 990px) {
    html{
        font-size: 18px;
    }
    .content{
        height: 43.75rem;
    }
    .image-col {
    height: 100%; 
}
.header-profile-img {
    width:35px;
    height:35px;
    object-fit: cover;
    border: 2px solid var(--primary-orange);
}

}

